<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Refills are prepackaged patterns and components built with Bourbon, Neat and Bitters.">
    <title><%= current_page.data.title %></title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oswald:400,300,700|Lusitana:400,700|Open+Sans:400,800">
    <%= stylesheet_link_tag "all" %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/jquery.erToc.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-1485842-21', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body class="<%= page_classes %>">
    <nav class="bourbon">
      <ul>
        <li><a href="//bourbon.io" class="bourbon">Bourbon</a></li>
        <li><a href="//neat.bourbon.io" class="neat">Neat</a></li>
        <li><a href="//bitters.bourbon.io" class="bitters">Bitters</a></li>
        <li><a href="//refills.bourbon.io" class="refills current">Refills</a></li>
      </ul>
      <h1>Maintained by the design team at <a href="//thoughtbot.com">thoughtbot</a></h1>
    </nav>
    <section class="container">
      <section class="inner-content">
        <%= yield %>
        <footer class="refills-footer">
          <ul class="footer-links">
            <li><%= link_to 'Patterns', '/index.html' %></li>
            <li><%= link_to 'Components', '/components.html' %></li>
            <li><%= link_to 'Type Systems', '/type-systems.html' %></li>
          </ul>
          <div class="refills-footer-logo">
            <img src="/images/ralph-gray.png" alt="thoughtbot Ralph logo mark">
          </div>
          <p>Refills is maintained and funded by <a href="//thoughtbot.com">thoughtbot, inc</a>.</p>
          <p>Copyright &copy; 2014&ndash;2015 <a href="//thoughtbot.com">thoughtbot, inc</a>. Refills is free software, and may be redistributed under the terms specified in the <a href="//github.com/thoughtbot/refills/blob/master/LICENSE.md">license</a>.</p>
        </footer>
      </section>
    </section>
    
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      var bittersMap = (function () {
        var myLatlng = new google.maps.LatLng(59.342457, 18.057340),
            mapCenter = new google.maps.LatLng(59.340458, 18.057340),
            mapCanvas = document.getElementById('map_canvas'),
            mapOptions = {
              center: mapCenter,
              zoom: 13,
              scrollwheel: false,
              draggable: true,
              disableDefaultUI: true,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            },
            map = new google.maps.Map(mapCanvas, mapOptions),
            contentString =
              '<div id="content">'+
              '<div id="siteNotice">'+
              '</div>'+
              '<h1 id="firstHeading" class="firstHeading">thoughtbot</h1>'+
              '<div id="bodyContent"'+
              '<p>Sveavägen 98</p>'+
              '</div>'+
              '</div>',
            infowindow = new google.maps.InfoWindow({
              content: contentString,
              maxWidth: 300
            }),
            marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title: 'thoughtbot (Sweden)'
            });

        return {
          init: function () {
            map.set('styles', [{
              featureType: 'landscape',
              elementType: 'geometry',
              stylers: [
                { hue: '#ffff00' },
                { saturation: 30 },
                { lightness: 10}
              ]}
            ]);

            google.maps.event.addListener(marker, 'click', function () {
              infowindow.open(map,marker);
            });
          }
        };
      }());

      bittersMap.init();
    </script>
  </body>
  <%= javascript_include_tag "all" %>
</html>
