<!doctype html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Refills" %></title>
    <%= stylesheet_link_tag :site %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/ace/1.2.6/min/ace.js"></script>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <div class="site-wrapper">
      <%= yield %>
    </div>
  </body>
</html>
