---
title: Refills
---

<div id="example1" class="refills-wrapper">

  <a class="js-menu-trigger-refills refills-menu-anchor">&#9776;</a>
  <div class="js-menu-screen-refills refills-menu-screen"></div>
  

  <div class="refills-header">
    <h2>Refills are prepackaged patterns and compontents, built ontop of <br><a href="http://www.bourbon.io">Bourbon</a>, <a href="http://www.bitters.bourbon.io">Bitters</a>, and <a href="http://www.neat.bourbon.io">Neat</a>.</h2>
  </div>

  <div class="external">
    <a href="https://github.com/thoughtbot/refills"></a>
  </div>

  <h5>Components</h5>

  <div id="navigation" class="refill">
    <div class="line-behind-text"><h6>Navigation</h6></div>
    <%= partial "navigation" %>
    <div class="refill-snippet"><%= snippet('navigation') %></div>
  </div>

  <div id="hero" class="refill">
    <div class="line-behind-text"><h6>Hero Unit</h6>  </div>
    <%= partial "hero" %>
    <div class="refill-snippet"><%= snippet('hero') %></div>
  </div>

  <div id="icon-bullet-points" class="refill">
    <div class="line-behind-text"><h6>Icon Bullet Points</h6></div>
    <%= partial "icon-bullet-points" %>
    <div class="refill-snippet"><%= snippet('icon-bullet-points') %></div>
  </div>

  <div id="cards" class="refill">
    <div class="line-behind-text"><h6>Cards</h6></div>
    <div class="refill-centering"><%= partial "cards" %></div>
    <div class="refill-snippet"><%= snippet('cards') %></div>
  </div>

  <div id="accordion-tabs" class="refill">
    <div class="line-behind-text"><h6>Accordion / Tabs</h6></div>
    <%= partial "accordion-tabs" %>
    <div class="refill-snippet"><%= snippet('accordion-tabs') %></div>
  </div>

  <div id="tables" class="refill">
    <div class="line-behind-text"><h6>Tables</h6></div>
    <%= partial "tables" %>
    <div class="refill-snippet"><%= snippet('tables') %></div>
  </div>

  <div id="vertical-tabs" class="refill">
    <div class="line-behind-text"><h6>Vertical Tabs</h6></div>
    <%= partial "vertical-tabs" %>
    <div class="refill-snippet"><%= snippet('vertical-tabs') %></div>
  </div>

  <div id="sliding-menu" class="refill">
    <div class="line-behind-text"><h6>Sliding Menu</h6></div>
    <div class="refill-centering"><%= partial "sliding-menu" %></div>
    <div class="refill-snippet"><%= snippet('sliding-menu') %></div>
  </div>

  <div id="badges" class="refill">
    <div class="line-behind-text"><h6>Badges</h6></div>
    <div class="refill-centering"><%= partial "badges" %></div>
    <div class="refill-snippet"><%= snippet('badges') %></div>
  </div>

  <div id="breadcrumbs" class="refill">
    <div class="line-behind-text"><h6>Breadcrumbs</h6></div>
    <div class="refill-centering"><%= partial "breadcrumbs" %></div>
    <div class="refill-snippet"><%= snippet('breadcrumbs') %></div>
  </div>

  <div id="hover-tile-animation" class="refill">
    <div class="line-behind-text"><h6>Hover Tile Animation</h6></div>
    <div class="refill-centering"><%= partial "hover-tile-animation" %></div>
    <div class="refill-snippet"><%= snippet('hover-tile-animation') %></div>
  </div>

<!-- 

  <div id="modal" class="refill">
    <h6>Modal</h6>
    <%= partial "modal" %>
    <%= snippet('modal') %>
  </div>

  <div id="progress-bar" class="refill">
    <h6>Progress Bar</h6>
    <%= partial "progress-bar" %>
    <%= snippet('progress-bar') %>
  </div>

  <div id="tooltip" class="refill">
    <h6>Tooltip</h6>
    <%= partial "tooltip" %>
    <%= snippet('tooltip') %>
  </div>

  <div id="accordion" class="refill">
    <h6>Accordion</h6>
    <%= partial "accordion" %>
    <%= snippet('accordion') %>
  </div>

  <div id="dropdown-menu" class="refill">
    <h6>Dropdown Menu</h6>
    <%= partial "dropdown-menu" %>
    <%= snippet('dropdown-menu') %>
  </div>

  <div id="switch-toggle" class="refill">
    <h6>Switch Toggle</h6>
    <%= partial "switch-toggle" %>
    <%= snippet('switch-toggle') %>
  </div>

  <div id="search-bar" class="refill">
    <h6>Search bar</h6>
    <%= partial "search-bar" %>
    <%= snippet('search-bar') %>
  </div>
  


  <div id="breadcrumbs" class="refill">
    <h6>Breadcrumbs</h6>
    <%= partial "breadcrumbs" %>
    <%= snippet('breadcrumbs') %>
  </div>


  <div id="button-group" class="refill">
    <div class="line-behind-text"><h6>Button Group</h6></div>
    <div class="refill-centering"><%= partial "button-group" %></div>
    <div class="refill-snippet"><%= snippet('button-group') %></div>
  </div>



  <div id="image-gradient" class="refill">
    <h6>Image with gradient overlays</h6>
    <%= partial "image-gradient" %>
    <%= snippet('image-gradient') %>
  </div>

  <div id="item-list" class="refill">
    <h6>Item List</h6>
    <%= partial "item-list" %>
    <%= snippet('item-list') %>
  </div>
  

  <div id="master-detail" class="refill">
    <h6>Master and Detail</h6>
    <%= partial "master-detail" %>
    <%= snippet('master-detail') %>
  </div>
  

  <div id="sidebar-layout" class="refill">
    <h6>Sidebar Layout</h6>
    <%= partial "sidebar-layout" %>
    <%= snippet('sidebar-layout') %>
  </div>

  <div id="info-section" class="refill">
    <h6>Info Section</h6> 
    <%= partial "info-section" %>
    <%= snippet('info-section') %>
  </div>

<div class="refills-wrapper">
  <div id="footer" class="refill">
    <h6>Footer</h6> 
    <%= partial "footer" %>
    <%= snippet('footer') %>
  </div>
</div>
 -->
<script>
  $('a.js-show-code').on('click', function(e){
    $(this).hide();
    $(this).siblings('.js-hide-code').css('display', 'inline-block');
    $(this).parent().siblings('.snippet').show();
    e.preventDefault();
  })

  $('a.js-hide-code').on('click', function(e) {
    $(this).hide();
    $(this).siblings('.js-show-code').css("display", "inline-block");
    $(this).parent().siblings('.snippet').hide();
    e.preventDefault();
  });
</script>

<script>
  $(document).ready( function() {
    client = new ZeroClipboard($('.copy-source'), {moviePath: 'images/ZeroClipboard.swf'})
    client.on('dataRequested', function(client, args) {
      code = $(this).siblings('pre').text();
      client.setText(code);
    });
  });
</script>

<script>
  $(document).ready(function(){

    $('.js-menu-trigger-refills').on('click touchstart', function(e){
      $('.er_toc').toggleClass('is-visible');
      $('.js-menu-screen-refills').toggleClass('is-visible');
      e.preventDefault();
    });

    $('.js-menu-screen-refills').on('click touchstart', function(e){
      $('.er_toc').toggleClass('is-visible');
      $('.js-menu-screen-refills').toggleClass('is-visible');
      e.preventDefault();
    });
  });
</script>