---
title: Refills
---

<div class="refills-wrapper">

  <div class="refills-header">
    <div class="menu-wrapper">
      <div class="logo">Refills</div>
      <p>Menu</p>
      <div class="nav">
        <ul>
          <li><a href="">Examples</a></li>
          <li><a href="https://github.com/thoughtbot/refills">Github</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="refill">
    <h3>Sliding Menu</h3>
    <%= partial "sliding-menu" %>
    <%= snippet('sliding-menu') %>
  </div>

  <div class="refill">
    <h3>Badges</h3>
    <%= partial "badges" %>
    <%= snippet('badges') %>
  </div>                                                                                         

  <div class="refill">
    <h3>Cards</h3>
    <%= partial "cards" %>
    <%= snippet('cards') %>
  </div>
  

  <div class="refill">
    <h3>Image Cards</h3>
    <%= partial "image-cards" %>
    <%= snippet('image-cards') %>
  </div>
  

  <div class="refill">
    <h3>Vertical Tabs</h3>
    <%= partial "vertical-tabs" %>
    <%= snippet('vertical-tabs') %>
  </div>
  

  <div class="refill">
    <h3>Accordion / Tabs</h3>
    <%= partial "accordion-tabs" %>
    <%= snippet('accordion-tabs') %>
  </div>
  

  <div class="refill">
    <h3>Overlap</h3>
    <%= partial "overlap" %>
    <%= snippet('overlap') %>
  </div>
  

  <div class="refill">
    <h3>Modal</h3>
    <%= partial "modal" %>
    <%= snippet('modal') %>
  </div>
  
             
  <div class="refill">
    <h3>Progress Bar</h3>
    <%= partial "progress-bar" %>
    <%= snippet('progress-bar') %>
  </div>
  

  <div class="refill">
    <h3>Tooltip</h3>
    <%= partial "tooltip" %>
    <%= snippet('tooltip') %>
  </div>
  

  <div class="refill">
    <h3>Accordion</h3>
    <%= partial "accordion" %>
    <%= snippet('accordion') %>
  </div>
  

  <div class="refill">
    <h3>Dropdown Menu</h3>
    <%= partial "dropdown-menu" %>
    <%= snippet('dropdown-menu') %>
  </div>
  

  <div class="refill">
    <h3>Switch Toggle</h3>
    <%= partial "switch-toggle" %>
    <%= snippet('switch-toggle') %>
  </div>
  

  <div class="refill">
    <h3>Search bar</h3>
    <%= partial "search-bar" %>
    <%= snippet('search-bar') %>
  </div>
  
  
  <div class="refill">
    <h3>Tables</h3>
    <%= partial "tables" %>
    <%= snippet('tables') %>
  </div>  
  

  <div class="refill">
    <h3>Breadcrumbs</h3>
    <%= partial "breadcrumbs" %>
    <%= snippet('breadcrumbs') %>
  </div>  
  

  <div class="refill">
    <h3>Button Group</h3>
    <%= partial "button-group" %>
    <%= snippet('button-group') %>
  </div>
  

  <div class="refill">
    <h3>Navigation</h3>
    <%= partial "navigation" %>
    <%= snippet('navigation') %>
  </div>  
  
  <div class="refill">
    <h3>Item List</h3>
    <%= snippet('item-list') %>
  </div>
  <%= partial "item-list" %>

  
  <div class="refill">
    <h3>Master and Detail</h3>
    <%= snippet('master-detail') %>
  </div>  
  <%= partial "master-detail" %>

  <div class="refill">
    <h3>Sidebar Layout</h3>
    <%= snippet('sidebar-layout') %>
  </div>
  <%= partial "sidebar-layout" %>

  <div class="refill">
    <h3>Info Section</h3> 
    <%= snippet('info-section') %>
  </div>
  <%= partial "info-section" %>

  <div class="refill">
    <h3>Hero Unit</h3>  
    <%= partial "hero" %>
    <%= snippet('hero') %>
  </div>
  
  <div class="refill">
    <h3>Footer</h3> 
    <%= partial "footer" %>
    <%= snippet('footer') %>
  </div>

</div>





<script>
  $('a.js-show-code').on('click', function(e){
    $(this).hide();
    $(this).siblings('.js-hide-code').css('display', 'block');
    $(this).siblings('pre').show();
    e.preventDefault();
  })

  $('a.js-hide-code').on('click', function(e) {
    $(this).hide();
    $(this).siblings('.js-show-code').css("display", "block");
    $(this).siblings('pre').hide();
    e.preventDefault();
  });
</script>


