---
title: Refills
---

<div class="refills-patterns">
  <a class="js-menu-trigger-refills refills-menu-anchor fixedsticky">
    <img src="/images/menu.png" alt="Menu icon">
  </a>
  <div class="js-menu-screen-refills refills-menu-screen"></div>

  <%= partial "refills-hero" %>

  <div id="example">

    <section id="accordion" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Accordion</h6></div>
        <div class="refill-centering"><%= partial "accordion" %></div>
      </div>
      <div class="refill-snippet"><%= code_for("accordion") %></div>
    </section>

    <section id="accordion-tabs" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Accordion / Tabs</h6></div>
        <div class="refill-smaller"><%= partial "accordion_tabs" %></div>
      </div>
      <div class="refill-snippet"><%= code_for("accordion_tabs") %></div>
    </section>

    <section id="button-group" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Button Group</h6></div>
        <div class="refill-centering"><%= partial "button_group" %></div>
      </div>
      <div class="refill-snippet"><%= code_for("button_group") %></div>
    </section>

    <section id="cards" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Cards</h6></div>
        <div class="refill-centering"><%= partial "cards" %></div>
      </div>
      <div class="refill-snippet"><%= code_for("cards") %></div>
    </section>
    
    <section id="comment" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Comments</h6></div>
        <div class="refill-centering">
          <div class="refill-smaller"><%= partial "comment" %></div>
        </div>
      </div>
      <div class="refill-snippet"><%= code_for("comment") %></div>
    </section>

    <section id="expander" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Expander</h6></div>
        <div class="refill-centering">
          <%= partial "expander" %>
        </div>
      </div>
      <div class="refill-snippet"><%= code_for("expander") %></div>
    </section>

    <section id="hover-menu" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Hover Menu</h6></div>
        <div class="refill-centering"><%= partial "hover_menu" %></div>
      </div>
      <div class="refill-snippet"><%= code_for("hover_menu") %></div>
    </section>

    <section id="navigation" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Navigation</h6></div>
        <div class="refill-centering"><%= partial "navigation" %></div>
      </div>
      <div class="refill-snippet"><%= code_for("navigation") %></div>
    </section>

    <section id="navigation-centered" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Navigation: Centered</h6></div>
        <%= partial "navigation_centered" %>
      </div>
      <div class="refill-snippet"><%= code_for("navigation_centered") %></div>
    </section>


    <section id="modal" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Modal</h6></div>
        <div class="refill-centering"><%= partial "modal" %></div>
      </div>
      <div class="refill-snippet"><%= code_for("modal") %></div>
    </section>

    <section id="scroll-on-page" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Scroll On Page</h6></div>
        <div class="refill-centering">
          <div class="refill-smaller"><%= partial "scroll_on_page" %></div>
        </div>
      </div>
      <div class="refill-snippet"><%= code_for("scroll_on_page") %></div>
    </section>

    <section id="search-bar" class="refill">
     <div class="refills-wrapper">
       <div class="line-behind-text"><h6>Search bar</h6></div>
       <div class="refill-centering">
         <div class="refill-smaller"><%= partial "search_bar" %></div>
       </div>
     </div>
     <div class="refill-snippet"><%= code_for("search_bar") %></div>
    </section>

    <section id="sliding-panel" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Sliding Panel</h6></div>
        <div class="refill-centering"><%= partial "sliding_panel" %></div>
      </div>
      <div class="refill-snippet"><%= code_for("sliding_panel") %></div>
    </section>

    <section id="tooltip" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Tooltip</h6></div>
        <div class="refill-centering"><%= partial "tooltip" %></div>
      </div>
      <div class="refill-snippet"><%= code_for("tooltip") %></div>
    </section>

  </div> 
</div>

<%= partial "refills-page-scripts" %>
