---
title: Refills
---

<a class="external" href="https://github.com/thoughtbot/refills">
</a>

<div class="refills-wrapper">
  <div class="refills-header">
    <h2>Refills are prepackaged patterns and compontents, built ontop of <a href="http://www.bourbon.io">Bourbon</a>, <a href="http://www.bitters.bourbon.io">Bitters</a>, and <a href="http://www.neat.bourbon.io">Neat</a>.</h2>
  </div>

<div id="sliding-menu" class="refill">
  <h3>Sliding Menu</h3>
  <%= partial "sliding-menu" %>
  <%= snippet('sliding-menu') %>
</div>

<div class="narrow">
  <div id="badges" class="refill">
    <h3>Badges</h3>
    <%= partial "badges" %>
    <%= snippet('badges') %>
  </div>

  <div id="cards" class="refill">
    <h3>Cards</h3>
    <%= partial "cards" %>
    <%= snippet('cards') %>
  </div>

  <div id="image-cards" class="refill">
    <h3>Image Cards</h3>
    <%= partial "image-cards" %>
    <%= snippet('image-cards') %>
  </div>

  <div id="vertical-tabs" class="refill">
    <h3>Vertical Tabs</h3>
    <%= partial "vertical-tabs" %>
    <%= snippet('vertical-tabs') %>
  </div>

  <div id="accordion-tabs" class="refill">
    <h3>Accordion / Tabs</h3>
    <%= partial "accordion-tabs" %>
    <%= snippet('accordion-tabs') %>
  </div>

  <div id="modal" class="refill">
    <h3>Modal</h3>
    <%= partial "modal" %>
    <%= snippet('modal') %>
  </div>

  <div id="progress-bar" class="refill">
    <h3>Progress Bar</h3>
    <%= partial "progress-bar" %>
    <%= snippet('progress-bar') %>
  </div>

  <div id="tooltip" class="refill">
    <h3>Tooltip</h3>
    <%= partial "tooltip" %>
    <%= snippet('tooltip') %>
  </div>

  <div id="accordion" class="refill">
    <h3>Accordion</h3>
    <%= partial "accordion" %>
    <%= snippet('accordion') %>
  </div>

  <div id="dropdown-menu" class="refill">
    <h3>Dropdown Menu</h3>
    <%= partial "dropdown-menu" %>
    <%= snippet('dropdown-menu') %>
  </div>

  <div id="switch-toggle" class="refill">
    <h3>Switch Toggle</h3>
    <%= partial "switch-toggle" %>
    <%= snippet('switch-toggle') %>
  </div>

  <div id="search-bar" class="refill">
    <h3>Search bar</h3>
    <%= partial "search-bar" %>
    <%= snippet('search-bar') %>
  </div>
  
  <div id="tables" class="refill">
    <h3>Tables</h3>
    <%= partial "tables" %>
    <%= snippet('tables') %>
  </div>

  <div id="breadcrumbs" class="refill">
    <h3>Breadcrumbs</h3>
    <%= partial "breadcrumbs" %>
    <%= snippet('breadcrumbs') %>
  </div>

  <div id="button-group" class="refill">
    <h3>Button Group</h3>
    <%= partial "button-group" %>
    <%= snippet('button-group') %>
  </div>

  <div id="navigation" class="refill">
    <h3>Navigation</h3>
    <%= partial "navigation" %>
    <%= snippet('navigation') %>
  </div>

  <div id="item-list" class="refill">
    <h3>Item List</h3>
    <%= partial "item-list" %>
    <%= snippet('item-list') %>
  </div>
  

  <div id="master-detail" class="refill">
    <h3>Master and Detail</h3>
    <%= partial "master-detail" %>
    <%= snippet('master-detail') %>
  </div>
  

  <div id="sidebar-layout" class="refill">
    <h3>Sidebar Layout</h3>
    <%= partial "sidebar-layout" %>
    <%= snippet('sidebar-layout') %>
  </div>

  <div id="info-section" class="refill">
    <h3>Info Section</h3> 
    <%= partial "info-section" %>
    <%= snippet('info-section') %>
  </div>


  <div id="hero" class="refill">
    <h3>Hero Unit</h3>  
    <%= partial "hero" %>
    <%= snippet('hero') %>
  </div>

<div class="refills-wrapper">
  <div id="footer" class="refill">
    <h3>Footer</h3> 
    <%= partial "footer" %>
    <%= snippet('footer') %>
  </div>
</div>

<script>
  $('a.js-show-code').on('click', function(e){
    $(this).hide();
    $(this).siblings('.js-hide-code').css('display', 'block');
    $(this).siblings('.snippet').show();
    e.preventDefault();
  })

  $('a.js-hide-code').on('click', function(e) {
    $(this).hide();
    $(this).siblings('.js-show-code').css("display", "block");
    $(this).siblings('.snippet').hide();
    e.preventDefault();
  });
</script>

<script>
  $(document).ready( function() {
    client = new ZeroClipboard($('.copy-source'), {moviePath: 'images/ZeroClipboard.swf'})
    client.on('dataRequested', function(client, args) {
      code = $(this).siblings('pre').text();
      client.setText(code);
    });
  });
</script>
