---
title: Refills
---

<a class="js-menu-trigger-refills refills-menu-anchor fixedsticky">
  <img src="images/menu.png" alt="">
</a>
<div class="js-menu-screen-refills refills-menu-screen"></div>

<div class="refills-header">
  <div class="refills-logo">
    <img src="images/refills-logo.svg" alt="">
  </div>
  <h2><span>Refills</span> are prepackaged patterns and components, built on top of <a href="http://www.bourbon.io">Bourbon</a>, <a href="http://bitters.bourbon.io/">Bitters</a>, and <a href="http://neat.bourbon.io/">Neat</a>.</h2>
  <p>Managed by <a href="http://www.thoughtbot.com">thoughtbot</a>, instructions at <a href="https://github.com/thoughtbot/refills">Github</a></p>
</div>

<div id="example1">

  <h5>Patterns</h5>

  <div id="navigation" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Navigation</h6></div>
      <%= partial "navigation" %>
    </div>
    <div class="refill-snippet"><%= code_for('navigation') %></div>
  </div>

  <div id="centered-navigation" class="refill">
    <div class="refills-wrapper">
      <%= partial "centered_navigation" %>
    </div>
    <div class="refill-snippet"><%= code_for('centered_navigation') %></div>
  </div>

  <div id="hero" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Hero Unit</h6>  </div>
      <%= partial "hero" %>
    </div>
    <div class="refill-snippet"><%= code_for('hero') %></div>
  </div>

  <div id="icon-bullet-points" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Icon Bullet Points</h6></div>
      <%= partial "icon_bullet_points" %>
    </div>
    <div class="refill-snippet"><%= code_for('icon_bullet_points') %></div>
  </div>

  <div id="side-image" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Side Image</h6></div>
      <%= partial "side_image" %>
    </div>
    <div class="refill-snippet"><%= code_for('side_image') %></div>
  </div>

  <div id="search-tools" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Search Tools</h6></div>
      <%= partial "search_tools" %>
    </div>
    <div class="refill-snippet"><%= code_for('search_tools') %></div>
  </div>

  <div id="type-systems" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Typographic Systems</h6></div>
        <div class="refill-smaller">
          <ul class="accordion-tabs-type-systems">

          <li class="tab js-is-active" data-role="tab">
            <a href="#" class="tab-link-type-system" data-role="link">Serif</a>
            <section>
              <div class="tab-content">
                <div class="refill-centering"><%= partial "type_system_serif" %></div>
                <div class="refill-snippet"><%= code_for('type_system_serif') %></div>
              </div>
            </section>
          </li>

          <li class="tab" data-role="tab">
            <a href="#" class="tab-link-type-system" data-role="link">Sans</a>
            <section>
              <div class="tab-content">
                <div class="refill-centering"><%= partial "type_system_sans" %></div>
                <div class="refill-snippet"><%= code_for('type_system_sans') %></div>
              </div>
            </section>
          </li>

          <li class="tab" data-role="tab">
            <a href="#" class="tab-link-type-system" data-role="link">Slab</a>
            <section>
              <div class="tab-content">
                <div class="refill-centering"><%= partial "type_system_slab" %></div>
                <div class="refill-snippet"><%= code_for('type_system_slab') %></div>
              </div>
            </section>
          </li>

          <li class="tab" data-role="tab">
            <a href="#" class="tab-link-type-system" data-role="link">Rounded</a>
            <section>
              <div class="tab-content">
                <div class="refill-centering"><%= partial "type_system_rounded" %></div>
                <div class="refill-snippet"><%= code_for('type_system_rounded') %></div>
              </div>
            </section>
          </li>

          <li class="tab" data-role="tab">
            <a href="#" class="tab-link-type-system" data-role="link">Traditional</a>
            <section>
              <div class="tab-content">
                <div class="refill-centering"><%= partial "type_system_traditional" %></div>
                <div class="refill-snippet"><%= code_for('type_system_traditional') %></div>
              </div>
            </section>
          </li>

          <li class="tab" data-role="tab">
            <a href="#" class="tab-link-type-system" data-role="link">Geometric</a>
            <section>
              <div class="tab-content">
                <div class="refill-centering"><%= partial "type_system_geometric" %></div>
                <div class="refill-snippet"><%= code_for('type_system_geometric') %></div>
              </div>
            </section>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="cards" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Cards</h6></div>
      <div class="refill-centering"><%= partial "cards" %></div>
    </div>
    <div class="refill-snippet"><%= code_for('cards') %></div>
  </div>

  <div id="browser" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Browser</h6></div>
      <%= partial "browser" %>
    </div>
    <div class="refill-snippet"><%= code_for('browser') %></div>
  </div>

  <div id="comment" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Comments</h6></div>
      <div class="refill-centering">
        <div class="refill-smaller"><%= partial "comment" %></div>
      </div>
    </div>
    <div class="refill-snippet"><%= code_for('comment') %></div>
  </div>

  <div id="accordion-tabs" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Accordion / Tabs</h6></div>
      <%= partial "accordion_tabs" %>
    </div>
    <div class="refill-snippet"><%= code_for('accordion_tabs') %></div>
    <div class="refills-wrapper">
      <%= partial "accordion_tabs_minimal" %>
    </div>
    <div class="refill-snippet"><%= code_for('accordion_tabs_minimal') %></div>
  </div>

  <div id="tables" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Tables</h6></div>
      <%= partial "tables" %>
    </div>
    <div class="refill-snippet"><%= code_for('tables') %></div>
    <div class="refills-wrapper">
      <%= partial "tables_minimal" %>
    </div>
    <div class="refill-snippet"><%= code_for('tables_minimal') %></div>
  </div>

  <div id="vertical-tabs" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Vertical Tabs</h6></div>
      <%= partial "vertical_tabs" %>
    </div>
    <div class="refill-snippet"><%= code_for('vertical_tabs') %></div>
  </div>

  <div id="grid-items" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Grid Items</h6></div>
      <div class="refill-centering"><%= partial "grid_items" %></div>
    </div>
    <div class="refill-snippet"><%= code_for('grid_items') %></div>
    <div class="refills-wrapper">
      <div class="refill-centering"><%= partial "grid_items_lines" %></div>
    </div>
    <div class="refill-snippet"><%= code_for('grid_items_lines') %></div>
  </div>

    <div id="footer" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Footers</h6></div>
        <div class="refill-centering"><%= partial "footer" %></div>
      </div>
      <div class="refill-snippet"><%= code_for('footer') %></div>
      <div class="refills-wrapper">
        <div class="refill-centering"><%= partial "footer_2" %></div>
      </div>
      <div class="refill-snippet"><%= code_for('footer_2') %></div>
    </div>

  <h5>Components</h5>

  <div id="pagination" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Pagination</h6></div>
      <%= partial "pagination" %>
    </div>
    <div class="refill-snippet"><%= code_for('pagination') %></div>
  </div>

  <div id="modal" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Modal</h6></div>
      <div class="refill-centering"><%= partial "modal" %></div>
    </div>
    <div class="refill-snippet"><%= code_for('modal') %></div>
  </div>

  <div id="sliding-menu" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Sliding Menu</h6></div>
      <div class="refill-centering"><%= partial "sliding_menu" %></div>
    </div>
    <div class="refill-snippet"><%= code_for('sliding_menu') %></div>
  </div>

  <div id="badges" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Badges</h6></div>
      <div class="refill-centering"><%= partial "badges" %></div>
    </div>
    <div class="refill-snippet"><%= code_for('badges') %></div>
  </div>

  <div id="breadcrumbs" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Breadcrumbs</h6></div>
      <div class="refill-centering"><%= partial "breadcrumbs" %></div>
    </div>
    <div class="refill-snippet"><%= code_for('breadcrumbs') %></div>
  </div>

  <div id="hover-tile-animation" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Hover Tile Animation</h6></div>
      <div class="refill-centering"><%= partial "hover_tile_animation" %></div>
    </div>
    <div class="refill-snippet"><%= code_for('hover_tile_animation') %></div>
  </div>

  <div id="accordion" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Accordion</h6></div>
      <div class="refill-centering"><%= partial "accordion" %></div>
    </div>
    <div class="refill-snippet"><%= code_for('accordion') %></div>
  </div>

  <div id="search-bar" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Search bar</h6></div>
      <div class="refill-centering"><%= partial "search_bar" %></div>
    </div>
    <div class="refill-snippet"><%= code_for('search_bar') %></div>
  </div>

  <div id="switch" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Switch</h6></div>
      <div class="refill-centering"><%= partial "switch" %></div>
    </div>
    <div class="refill-snippet"><%= code_for('switch') %></div>
  </div>

  <div id="image-gradient" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Image with gradient overlays</h6></div>
      <div class="refill-centering"><%= partial "image_gradient_dynamic" %></div>
    </div>
    <div class="refill-snippet"><%= code_for('image_gradient_dynamic') %></div>
  </div>

  <div id="button-group" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Button Group</h6></div>
      <div class="refill-centering"><%= partial "button_group" %></div>
    </div>
    <div class="refill-snippet"><%= code_for('button_group') %></div>
  </div>


  <div id="progress-bar" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Progress Bars</h6></div>
      <div class="refill-centering"><%= partial "progress_bar" %></div>
    </div>
    <div class="refill-snippet"><%= code_for('progress_bar') %></div>
    <div class="refills-wrapper">
      <div class="refill-centering"><%= partial "progress_bar_indication" %></div>
    </div>
    <div class="refill-snippet"><%= code_for('progress_bar_indication') %></div>
  </div>

  <div id="tooltip" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Tooltip</h6></div>
      <div class="refill-centering"><%= partial "tooltip" %></div>
    </div>
    <div class="refill-snippet"><%= code_for('tooltip') %></div>
  </div>

  <div id="video" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Responsive Video Embed</h6></div>
      <%= partial "video" %>
    </div>
    <div class="refill-snippet"><%= code_for('video') %></div>
  </div>
  
</div>

<!-- for the type-system tabs -->
<script>
  var $tabs, $toggles, ACTIVE_CLASS;

  ACTIVE_CLASS = 'js-is-active';

  $tabs = $("[data-role='tab']");

  $toggles = $tabs.find("[data-role='link']");

  $toggles.on('click', function(event) {
    var $tab, $toggle;
    event.preventDefault();
    $toggle = $(this);
    $tab = $toggle.closest($tabs);
    if (!$tab.hasClass(ACTIVE_CLASS)) {
      $tabs.removeClass(ACTIVE_CLASS);
      return $tab.addClass(ACTIVE_CLASS);
    }
  });
</script>

<script>
  $('a.js-show-code').on('click', function(e){
    $(this).hide();
    $(this).siblings('.js-hide-code').css('display', 'inline-block');
    $(this).parent().siblings('.snippets-table').show();
    e.preventDefault();
  })

  $('a.js-hide-code').on('click', function(e) {
    $(this).hide();
    $(this).siblings('.js-show-code').css("display", "inline-block");
    $(this).parent().siblings('.snippets-table').hide();
    e.preventDefault();
  });
</script>

<script>
  $(document).ready( function() {
    client = new ZeroClipboard($('.copy-source'), {moviePath: 'images/ZeroClipboard.swf'})
    client.on('dataRequested', function(client, args) {
      code = $(this).siblings('pre').text();
      client.setText(code);
    });
  });
</script>

<script>
  $(document).ready(function(){

    $('.js-menu-trigger-refills').on('click touchstart', function(e){
      $('.er_toc').toggleClass('is-visible');
      $('.js-menu-screen-refills').toggleClass('is-visible');
      e.preventDefault();
    });

    $('.js-menu-screen-refills').on('click touchstart', function(e){
      $('.er_toc').toggleClass('is-visible');
      $('.js-menu-screen-refills').toggleClass('is-visible');
      e.preventDefault();
    });
  });
</script>
