---
title: Refills
---

<%= partial "hero" %>

<div class="wrapper">

	<h1>Tooltip</h1>
	<%= partial "tooltip" %>

	<h1>Search bar</h1>
	<%= partial "search-bar" %>

	<h1>Dashboard</h1>
	<%= partial "dashboard" %>

	<h1>Tables</h1>
	<%= partial "tables" %>

	<h1>Breadcrumbs</h1>
	<%= partial "breadcrumbs" %>

  <h1>Button Group</h1>
  <%= partial "button-group" %>

	<h1>Navigation</h1>
	<%= partial "navigation" %>

  <h1>Item List</h1>
  <%= partial "item-list" %>

	<h1>Cards</h1>
	<%= partial "cards" %>

	<h1>Accordion / Tabs</h1>
	<%= partial "accordion-tabs" %>

	<h1>Master and Detail</h1>
	<%= partial "master-detail" %>

</div>
