---
title: Refills
---

<div class="refills-wrapper">

<div class="refills-header">
  <div class="menu-wrapper">
    <div class="logo">Refills</div>
    <p>Menu</p>
    <div class="nav">
      <ul>
        <li><a href="">Examples</a></li>
        <li><a href="https://github.com/thoughtbot/refills">Github</a></li>
      </ul>
    </div>
  </div>
</div>

  <!-- 
  <div class="refill">
    <h3></h3>
    <a href="">HTML</a>
    <a href="">SCSS</a>
  </div>
  <%= partial "tables" %> 
  -->


<!--  <div class="refill">
    <h3>Toggle Card</h3>
    <a href="">HTML</a>
    <a href="">SCSS</a>
  </div>
  <%= partial "toggle-cards" %> -->

<div class="row">
  <div class="narrow">
  <div class="refill">
    <h3>Sliding Menu</h3>
    <%= snippet('sliding-menu') %>
  </div>

  <%= partial "sliding-menu" %>
</div>

<div class="narrow">
  <div class="refill">
    <h3>Badges</h3>
    <%= snippet('badges') %>
  </div>
  <%= partial "badges" %>
</div>
</div>



  <div class="refill">
    <h3>Cards</h3>
    <%= snippet('cards') %>
  </div>
  <%= partial "cards" %>

  <div class="refill">
    <h3>Image Cards</h3>
    <%= snippet('image-cards') %>
  </div>
  <%= partial "image-cards" %>

  <div class="refill">
    <h3>Vertical Tabs</h3>
    <%= snippet('vertical-tabs') %>
  </div>
  <%= partial "vertical-tabs" %>

  <div class="refill">
    <h3>Accordion / Tabs</h3>
    <%= snippet('accordion-tabs') %>
  </div>
  <%= partial "accordion-tabs" %>

  <div class="refill">
    <h3>Overlap</h3>
    <%= snippet('overlap') %>
  </div>
  <%= partial "overlap" %>

  <div class="row">
    <div class="narrow">
      <div class="refill">
        <h3>Modal</h3>
        <%= snippet('modal') %>
      </div>
      <%= partial "modal" %>
    </div>

    <div class="narrow">
      <div class="refill">
        <h3>Progress Bar</h3>
        <%= snippet('progress-bar') %>
      </div>
      <%= partial "progress-bar" %>
    </div>
  </div>

  <div class="row">
    <div class="narrow">
      <div class="refill">
        <h3>Tooltip</h3>
        <%= snippet('tooltip') %>
      </div>
      <%= partial "tooltip" %>
    </div>

    <div class="narrow">
      <div class="refill">
        <h3>Accordion</h3>
        <%= snippet('accordion') %>
      </div>
      <%= partial "accordion" %>
    </div>
  </div>


  <div class="row">
    <div class="narrow">
      <div class="refill">
        <h3>Dropdown Menu</h3>
        <%= snippet('dropdown-menu') %>
      </div>
      <%= partial "dropdown-menu" %>
    </div>

    <div class="narrow">
      <div class="refill">
        <h3>Switch Toggle</h3>
        <%= snippet('switch-toggle') %>
      </div>
      <%= partial "switch-toggle" %>
    </div>
  </div>

  <div class="refill">
    <h3>Search bar</h3>
    <%= snippet('search-bar') %>
  </div>
  <%= partial "search-bar" %>
  

<!--  
  <div class="refill">
    <h3>Dashboard</h3>
    <%= snippet('dashboard') %>
  </div>  
  <%= partial "dashboard" %> -->

  
  <div class="refill">
    <h3>Tables</h3>
    <%= snippet('tables') %>
  </div>  
  <%= partial "tables" %>

  <div class="row">
    <div class="narrow">
      <div class="refill">
        <h3>Breadcrumbs</h3>
        <%= snippet('breadcrumbs') %>
      </div>  
      <%= partial "breadcrumbs" %>
    </div>

    <div class="narrow">
      <div class="refill">
        <h3>Button Group</h3>
        <%= snippet('button-group') %>
      </div>
      <%= partial "button-group" %>
    </div>
  </div>

  <div class="refill">
    <h3>Navigation</h3>
    <%= snippet('navigation') %>
  </div>  
  <%= partial "navigation" %>
</div>

</div>  


<div class="refills-wrapper">
  
  <div class="refill">
    <h3>Item List</h3>
    <%= snippet('item-list') %>
  </div>
  <%= partial "item-list" %>

  
  <div class="refill">
    <h3>Master and Detail</h3>
    <%= snippet('master-detail') %>
  </div>  
  <%= partial "master-detail" %>

  <div class="refill">
    <h3>Sidebar Layout</h3>
    <%= snippet('sidebar-layout') %>
  </div>
  <%= partial "sidebar-layout" %>

  <div class="refill">
    <h3>Info Section</h3> 
    <%= snippet('info-section') %>
  </div>
  <%= partial "info-section" %>

  <div class="refill">
    <h3>Hero Unit</h3>  
    <%= snippet('hero') %>
  </div>
  <%= partial "hero" %>
</div>

<div class="refills-wrapper">
  <div class="refill">
    <h3>Footer</h3> 
    <%= snippet('footer') %>
  </div>
  <%= partial "footer" %>
</div>


<script>
  $('a.js-show-code').on('click', function(e){
    $(this).hide();
    $(this).siblings('.js-hide-code').show();
    $(this).siblings('pre').show();
    e.preventDefault();
  })

  $('a.js-hide-code').on('click', function(e) {
    $(this).hide();
    $(this).siblings('.js-show-code').show();
    $(this).siblings('pre').hide();
    e.preventDefault();
  });
</script>


