---
title: Refills
---

<div class="refills-wrapper">

<div class="refills-header">
  <div class="menu-wrapper">
    <div class="logo">Refills</div>
    <p>Menu</p>
    <div class="nav">
      <ul>
        <li><a href="">Examples</a></li>
        <li><a href="https://github.com/thoughtbot/refills">Github</a></li>
      </ul>
    </div>
  </div>
</div>

  <!-- 
  <div class="refill">
    <h3></h3>
    <a href="">HTML</a>
    <a href="">SCSS</a>
  </div>
  <%= partial "tables" %> 
  -->


<!--  <div class="refill">
    <h3>Toggle Card</h3>
    <a href="">HTML</a>
    <a href="">SCSS</a>
  </div>
  <%= partial "toggle-cards" %> -->

  <div class="refill">
    <h3>Sliding Menu</h3>
    <a href="">HTML</a>
    <a href="">SCSS</a>
  </div>  
  <%= partial "sliding-menu" %>

  <div class="refill">
    <h3>Cards</h3>
    <a href="https://raw.github.com/thoughtbot/refills/master/source/_cards.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX2NhcmRzLmh0bWwuZXJiIiwiZXhwaXJlcyI6MTM4NjAxMDkyMX0%3D--56d57c862bad8f3186bad6cf9c54987f14349b65">HTML</a>
    <a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_cards.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fY2FyZHMuc2NzcyIsImV4cGlyZXMiOjEzODYwMTEyMDN9--a3389a012384f51edbc7027b1a02525427306a5c">SCSS</a>
  </div>  
  <%= partial "cards" %>

  <div class="refill">
    <h3>Image Cards</h3>
    <a href="">HTML</a>
    <a href="">SCSS</a>
  </div>  
  <%= partial "image-cards" %>


  <div class="refill">
    <h3>Vertical Tabs</h3>
    <a href="">HTML</a>
    <a href="">SCSS</a>
  </div>
  <%= partial "vertical-tabs" %> 

  <div class="refill">
    <h3>Accordion / Tabs</h3>
    <a href="https://raw.github.com/thoughtbot/refills/master/source/_accordion-tabs.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX2FjY29yZGlvbi10YWJzLmh0bWwuZXJiIiwiZXhwaXJlcyI6MTM4NjAxMDgyN30%3D--6630eeb81ef65669f916b6a466f5bb0d85a88210">HTML</a>
    <a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_accordion-tabs.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fYWNjb3JkaW9uLXRhYnMuc2NzcyIsImV4cGlyZXMiOjEzODY2MDUyOTR9--440efbb757b791af87b5a6f08a44aadaa31c6cea">SCSS</a>
  </div>  
  <%= partial "accordion-tabs" %>

  <div class="refill">
    <h3>Overlap</h3>
    <a href="">HTML</a>
    <a href="">SCSS</a>
  </div>
  <%= partial "overlap" %>

  <div class="row">
    <div class="narrow">
      <div class="refill">
        <h3>Modal</h3>
        <a href="">HTML</a>
        <a href="">SCSS</a>
      </div>
      <%= partial "modal" %>
    </div>  

    <div class="narrow">
      <div class="refill">
        <h3>Progress Bar</h3>
        <a href="https://raw.github.com/thoughtbot/refills/master/source/_progress-bar.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX3Byb2dyZXNzLWJhci5odG1sLmVyYiIsImV4cGlyZXMiOjEzODYxNzM3MzB9--2eac8908e7b33abb8c8b2b8bd8e88663c9cdcaf6">HTML</a>
        <a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_progress-bar.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fcHJvZ3Jlc3MtYmFyLnNjc3MiLCJleHBpcmVzIjoxMzg2MTczNjU5fQ%3D%3D--57dbc1c91f398616ca2f1de82d9b19ccfb16deaf">SCSS</a>
      </div>
      <%= partial "progress-bar" %>
    </div>
  </div>

  <div class="row">
    <div class="narrow">
      <div class="refill">
        <h3>Tooltip</h3>
        <a href="https://raw.github.com/thoughtbot/refills/master/source/_tooltip.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX3Rvb2x0aXAuaHRtbC5lcmIiLCJleHBpcmVzIjoxMzg2MDExNDg5fQ%3D%3D--bc37ee21531e22bf162915ed5091d05a4fb4ef7b">HTML</a>
        <a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_tooltip.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fdG9vbHRpcC5zY3NzIiwiZXhwaXJlcyI6MTM4NjAxMTM3MX0%3D--4d79e8c41c733c19dc94e9b66b3d3c230adbf21d">SCSS</a>
      </div>
      <%= partial "tooltip" %>
    </div>

    <div class="narrow">
      <div class="refill">
        <h3>Accordion</h3>
        <a href="">HTML</a>
        <a href="">SCSS</a>
      </div>
      <%= partial "accordion" %>
    </div>
  </div>


  <div class="row">
    <div class="narrow">
      <div class="refill">
        <h3>Dropdown Menu</h3>
        <a href="">HTML</a>
        <a href="">SCSS</a>
      </div>
      <%= partial "dropdown-menu" %>
    </div>

    <div class="narrow">
      <div class="refill">
        <h3>Switch Toggle</h3>
        <a href="">HTML</a>
        <a href="">SCSS</a>
      </div>
      <%= partial "switch-toggle" %>
    </div>
  </div>

  <div class="refill">
    <h3>Search bar</h3>
    <a href="https://raw.github.com/thoughtbot/refills/master/source/_search-bar.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX3NlYXJjaC1iYXIuaHRtbC5lcmIiLCJleHBpcmVzIjoxMzg2MDExMDczfQ%3D%3D--1c6c5ec2d75f3addae36ccf5f8a02b54483815db">HTML</a>
    <a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_search-bar.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fc2VhcmNoLWJhci5zY3NzIiwiZXhwaXJlcyI6MTM4NjAxMTMxNH0%3D--06416fd655c1d9641b0150c7bd7da90328743839">SCSS</a>
  </div>
  <%= partial "search-bar" %>
  

<!--  
  <div class="refill">
    <h3>Dashboard</h3>
  <a href="https://raw.github.com/thoughtbot/refills/master/source/_dashboard.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX2Rhc2hib2FyZC5odG1sLmVyYiIsImV4cGlyZXMiOjEzODYwMTA5NTF9--35f0fb3eed20ae3f4c20e8891d865cddff170331">HTML</a>
  <a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_dashboard.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fZGFzaGJvYXJkLnNjc3MiLCJleHBpcmVzIjoxMzg2MDExMjI5fQ%3D%3D--42634103bc23faf9e7c874c5b958a6408b7feaf3">SCSS</a>
  </div>  
  <%= partial "dashboard" %> -->

  
  <div class="refill">
    <h3>Tables</h3>
    <a href="https://raw.github.com/thoughtbot/refills/master/source/_tables.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX3RhYmxlcy5odG1sLmVyYiIsImV4cGlyZXMiOjEzODYwMTEwOTJ9--6e4d3383a1b67ebc838a7584f95791aebbfff657">HTML</a>
    <a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_tables.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fdGFibGVzLnNjc3MiLCJleHBpcmVzIjoxMzg2MDExMzM3fQ%3D%3D--0aedd8ca0dd1aeb8ba0ac1777ca58badaf16bd15">SCSS</a>
  </div>  
  <%= partial "tables" %>

  <div class="row">
    <div class="narrow">
      <div class="refill">
        <h3>Breadcrumbs</h3>
        <a href="https://raw.github.com/thoughtbot/refills/master/source/_breadcrumbs.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX2JyZWFkY3J1bWJzLmh0bWwuZXJiIiwiZXhwaXJlcyI6MTM4NjAxMDg1OH0%3D--b7a13de128ba7944d81d5e3e3488f2312238c153">HTML</a>
        <a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_breadcrumbs.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fYnJlYWRjcnVtYnMuc2NzcyIsImV4cGlyZXMiOjEzODYwMTExMzh9--0dc44d2ec52f139336dd1ceff9bde56abed749ab">SCSS</a>
      </div>  
      <%= partial "breadcrumbs" %>
    </div>

    <div class="narrow">
      <div class="refill">
        <h3>Button Group</h3>
        <a href="https://raw.github.com/thoughtbot/refills/master/source/_button-group.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX2J1dHRvbi1ncm91cC5odG1sLmVyYiIsImV4cGlyZXMiOjEzODYwMTA4ODd9--3472f0d9190fa0bcfe231ff54dcaa7a8f1277952">HTML</a>
        <a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_button-group.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fYnV0dG9uLWdyb3VwLnNjc3MiLCJleHBpcmVzIjoxMzg2MDExMTU2fQ%3D%3D--7d6f8f0c1216b29f6823b78bea7d95109192bb5c">SCSS</a>
      </div>
      <%= partial "button-group" %>
    </div>
  </div>


  <div class="refill">
    <h3>Badges</h3> 
    <a href="https://raw.github.com/thoughtbot/refills/master/source/_info-section.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX2luZm8tc2VjdGlvbi5odG1sLmVyYiIsImV4cGlyZXMiOjEzODYxMDMyNjF9--01422f9af72f3eee1ccc4f50fa1023a7c4f8a58b">HTML</a>
    <a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_info-section.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9faW5mby1zZWN0aW9uLnNjc3MiLCJleHBpcmVzIjoxMzg2MTAzMzE5fQ%3D%3D--e3a782328125b003392264737335dfac48f7cf62">SCSS</a>
  </div>
  <%= partial "badges" %>

  <div class="refill">
    <h3>Navigation</h3>
    <a href="https://raw.github.com/thoughtbot/refills/master/source/_navigation.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX25hdmlnYXRpb24uaHRtbC5lcmIiLCJleHBpcmVzIjoxMzg2MDExMDI5fQ%3D%3D--1fb5e32f9c14640009fa1abb1e9fd7dadd625fa6">HTML</a>
    <a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_navigation.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fbmF2aWdhdGlvbi5zY3NzIiwiZXhwaXJlcyI6MTM4NjM4NTgyMn0%3D--c4b20039554ec046da22a3e4bcb838b3f0b12f91">SCSS</a>
  </div>  
</div>

</div>  

  <%= partial "navigation" %>

<div class="refills-wrapper">
  
  <div class="refill">
    <h3>Item List</h3>
    <a href="https://raw.github.com/thoughtbot/refills/master/source/_item-list.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX2l0ZW0tbGlzdC5odG1sLmVyYiIsImV4cGlyZXMiOjEzODYwMTA5OTB9--2fa5e750b343a0d6d65bf109d527c2f2a6e8fc08">HTML</a>
    <a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_item-list.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9faXRlbS1saXN0LnNjc3MiLCJleHBpcmVzIjoxMzg2MDExMjgxfQ%3D%3D--4af0e7e5748e22249defa9a7624b8560ecfe7a49">SCSS</a>
  </div>
  <%= partial "item-list" %>

  
  <div class="refill">
    <h3>Master and Detail</h3>
    <a href="https://raw.github.com/thoughtbot/refills/master/source/_master-detail.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX21hc3Rlci1kZXRhaWwuaHRtbC5lcmIiLCJleHBpcmVzIjoxMzg2MDExMDA5fQ%3D%3D--a38b785e63748a756e1ba7b049d8715813736ddf">HTML</a>
    <a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_master-detail.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fbWFzdGVyLWRldGFpbC5zY3NzIiwiZXhwaXJlcyI6MTM4NjAxMTI5NX0%3D--78964ee36352a483393aa99f66fe735e3a08c6ed">SCSS</a>
  </div>  
  <%= partial "master-detail" %>

  <div class="refill">
    <h3>Sidebar Layout</h3>
    <a href="https://raw.github.com/thoughtbot/refills/master/source/_sidebar-layout.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX3NpZGViYXItbGF5b3V0Lmh0bWwuZXJiIiwiZXhwaXJlcyI6MTM4NjE3Mjc5NX0%3D--6fc10dcceb542928e7023c1792ac0ee01084a084">HTML</a>
    <a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_sidebar-layout.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fc2lkZWJhci1sYXlvdXQuc2NzcyIsImV4cGlyZXMiOjEzODYxNzI4MjB9--41f1c32ec474868bfc5506d34b15d915cc0be2d6">SCSS</a>
  </div>
  <%= partial "sidebar-layout" %>

  <div class="refill">
    <h3>Info Section</h3> 
    <a href="https://raw.github.com/thoughtbot/refills/master/source/_info-section.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX2luZm8tc2VjdGlvbi5odG1sLmVyYiIsImV4cGlyZXMiOjEzODYxMDMyNjF9--01422f9af72f3eee1ccc4f50fa1023a7c4f8a58b">HTML</a>
    <a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_info-section.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9faW5mby1zZWN0aW9uLnNjc3MiLCJleHBpcmVzIjoxMzg2MTAzMzE5fQ%3D%3D--e3a782328125b003392264737335dfac48f7cf62">SCSS</a>
  </div>
  <%= partial "info-section" %>

  <div class="refill">
    <h3>Hero Unit</h3>  
    <a href="https://raw.github.com/thoughtbot/refills/master/source/_hero.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX2hlcm8uaHRtbC5lcmIiLCJleHBpcmVzIjoxMzg2MDEwOTcxfQ%3D%3D--b898d88994159238159e84ed2549119826ae6118">HTML</a>
    <a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_hero.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9faGVyby5zY3NzIiwiZXhwaXJlcyI6MTM4NjAxMTI2NX0%3D--8a4700429a07e67480f6bda566db924277141444">SCSS</a>
  </div>
</div>
<%= partial "hero" %>

<div class="refills-wrapper">
  <div class="refill">
    <h3>Footer</h3> 
    <a href="https://raw.github.com/thoughtbot/refills/master/source/_footer.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX2Zvb3Rlci5odG1sLmVyYiIsImV4cGlyZXMiOjEzODYxMDMyNzh9--f5abd0c5a9b30059ec0beedb36954bcfbb4dc803">HTML</a>
    <a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_footer.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fZm9vdGVyLnNjc3MiLCJleHBpcmVzIjoxMzg2MTAzMzAzfQ%3D%3D--da8bd68a7fc49c695e0b9ba54b7ff4cc766ada43">SCSS</a>
  </div>
</div>
<%= partial "footer" %>




