---
title: Refills
---

<div class="refills-hero">
	<div class="hero-inner">
		<div class="hero-copy">
			<h1>Refills</h1>
			<h6>Copy paste components to be used together with Bourbon, Neat and Bitters. Very WIP.</h6>	
		</div>
		<div class="hero-image">
		</div>
	</div>
</div>

<div class="refills-wrapper">
	
	
	<div class="refill">
	<h3>Tooltip</h3>
		<a href="https://raw.github.com/thoughtbot/refills/master/source/_tooltip.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX3Rvb2x0aXAuaHRtbC5lcmIiLCJleHBpcmVzIjoxMzg2MDExNDg5fQ%3D%3D--bc37ee21531e22bf162915ed5091d05a4fb4ef7b">HTML</a>
		<a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_tooltip.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fdG9vbHRpcC5zY3NzIiwiZXhwaXJlcyI6MTM4NjAxMTM3MX0%3D--4d79e8c41c733c19dc94e9b66b3d3c230adbf21d">SCSS</a>
	</div>
	<%= partial "tooltip" %>

	
	<div class="refill">
	<h3>Search bar</h3>
	<a href="https://raw.github.com/thoughtbot/refills/master/source/_search-bar.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX3NlYXJjaC1iYXIuaHRtbC5lcmIiLCJleHBpcmVzIjoxMzg2MDExMDczfQ%3D%3D--1c6c5ec2d75f3addae36ccf5f8a02b54483815db">HTML</a>
	<a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_search-bar.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fc2VhcmNoLWJhci5zY3NzIiwiZXhwaXJlcyI6MTM4NjAxMTMxNH0%3D--06416fd655c1d9641b0150c7bd7da90328743839">SCSS</a>
	</div>
	<%= partial "search-bar" %>
	

<!-- 	
	<div class="refill">
	<h3>Dashboard</h3>
	<a href="https://raw.github.com/thoughtbot/refills/master/source/_dashboard.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX2Rhc2hib2FyZC5odG1sLmVyYiIsImV4cGlyZXMiOjEzODYwMTA5NTF9--35f0fb3eed20ae3f4c20e8891d865cddff170331">HTML</a>
	<a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_dashboard.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fZGFzaGJvYXJkLnNjc3MiLCJleHBpcmVzIjoxMzg2MDExMjI5fQ%3D%3D--42634103bc23faf9e7c874c5b958a6408b7feaf3">SCSS</a>
	</div>	
	<%= partial "dashboard" %> -->

	
	<div class="refill">
	<h3>Tables</h3>
	<a href="https://raw.github.com/thoughtbot/refills/master/source/_tables.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX3RhYmxlcy5odG1sLmVyYiIsImV4cGlyZXMiOjEzODYwMTEwOTJ9--6e4d3383a1b67ebc838a7584f95791aebbfff657">HTML</a>
	<a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_tables.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fdGFibGVzLnNjc3MiLCJleHBpcmVzIjoxMzg2MDExMzM3fQ%3D%3D--0aedd8ca0dd1aeb8ba0ac1777ca58badaf16bd15">SCSS</a>
	</div>	
	<%= partial "tables" %>

	
	<div class="refill">
	<h3>Breadcrumbs</h3>
	<a href="https://raw.github.com/thoughtbot/refills/master/source/_breadcrumbs.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX2JyZWFkY3J1bWJzLmh0bWwuZXJiIiwiZXhwaXJlcyI6MTM4NjAxMDg1OH0%3D--b7a13de128ba7944d81d5e3e3488f2312238c153">HTML</a>
	<a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_breadcrumbs.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fYnJlYWRjcnVtYnMuc2NzcyIsImV4cGlyZXMiOjEzODYwMTExMzh9--0dc44d2ec52f139336dd1ceff9bde56abed749ab">SCSS</a>
	</div>	
	<%= partial "breadcrumbs" %>

  
  <div class="refill">
  <h3>Button Group</h3>
  <a href="https://raw.github.com/thoughtbot/refills/master/source/_button-group.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX2J1dHRvbi1ncm91cC5odG1sLmVyYiIsImV4cGlyZXMiOjEzODYwMTA4ODd9--3472f0d9190fa0bcfe231ff54dcaa7a8f1277952">HTML</a>
  <a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_button-group.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fYnV0dG9uLWdyb3VwLnNjc3MiLCJleHBpcmVzIjoxMzg2MDExMTU2fQ%3D%3D--7d6f8f0c1216b29f6823b78bea7d95109192bb5c">SCSS</a>
	</div>
  <%= partial "button-group" %>

	
	<div class="refill">
	<h3>Navigation</h3>
	<a href="https://raw.github.com/thoughtbot/refills/master/source/_navigation.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX25hdmlnYXRpb24uaHRtbC5lcmIiLCJleHBpcmVzIjoxMzg2MDExMDI5fQ%3D%3D--1fb5e32f9c14640009fa1abb1e9fd7dadd625fa6">HTML</a>
	<a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_header-nav.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9faGVhZGVyLW5hdi5zY3NzIiwiZXhwaXJlcyI6MTM4NjAxMTI0NH0%3D--bcc4c0862f3bc3d4f3a9ef12ce7cd3f9fd7a41b6">SCSS</a>
	</div>	
	<%= partial "navigation" %>

  
  <div class="refill">
  <h3>Item List</h3>
  <a href="https://raw.github.com/thoughtbot/refills/master/source/_item-list.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX2l0ZW0tbGlzdC5odG1sLmVyYiIsImV4cGlyZXMiOjEzODYwMTA5OTB9--2fa5e750b343a0d6d65bf109d527c2f2a6e8fc08">HTML</a>
  <a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_item-list.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9faXRlbS1saXN0LnNjc3MiLCJleHBpcmVzIjoxMzg2MDExMjgxfQ%3D%3D--4af0e7e5748e22249defa9a7624b8560ecfe7a49">SCSS</a>
	</div>
  <%= partial "item-list" %>

	
	<div class="refill">
	<h3>Cards</h3>
	<a href="https://raw.github.com/thoughtbot/refills/master/source/_cards.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX2NhcmRzLmh0bWwuZXJiIiwiZXhwaXJlcyI6MTM4NjAxMDkyMX0%3D--56d57c862bad8f3186bad6cf9c54987f14349b65">HTML</a>
	<a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_cards.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fY2FyZHMuc2NzcyIsImV4cGlyZXMiOjEzODYwMTEyMDN9--a3389a012384f51edbc7027b1a02525427306a5c">SCSS</a>
	</div>	
	<%= partial "cards" %>

	
	<div class="refill">
	<h3>Accordion / Tabs</h3>
	<a href="https://raw.github.com/thoughtbot/refills/master/source/_accordion-tabs.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX2FjY29yZGlvbi10YWJzLmh0bWwuZXJiIiwiZXhwaXJlcyI6MTM4NjAxMDgyN30%3D--6630eeb81ef65669f916b6a466f5bb0d85a88210">HTML</a>
	<a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_tabs.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fdGFicy5zY3NzIiwiZXhwaXJlcyI6MTM4NjAxMTM1M30%3D--73c6387f24c6de159a45e7aa871ef8d78a94fa2d">SCSS</a>
	</div>	
	<%= partial "accordion-tabs" %>

	
	<div class="refill">
	<h3>Master and Detail</h3>
	<a href="https://raw.github.com/thoughtbot/refills/master/source/_master-detail.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX21hc3Rlci1kZXRhaWwuaHRtbC5lcmIiLCJleHBpcmVzIjoxMzg2MDExMDA5fQ%3D%3D--a38b785e63748a756e1ba7b049d8715813736ddf">HTML</a>
	<a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_master-detail.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9fbWFzdGVyLWRldGFpbC5zY3NzIiwiZXhwaXJlcyI6MTM4NjAxMTI5NX0%3D--78964ee36352a483393aa99f66fe735e3a08c6ed">SCSS</a>
	</div>	
	<%= partial "master-detail" %>


	<div class="refill">
	<h3>Hero Unit</h3>	
		<a href="https://raw.github.com/thoughtbot/refills/master/source/_hero.html.erb?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2UvX2hlcm8uaHRtbC5lcmIiLCJleHBpcmVzIjoxMzg2MDEwOTcxfQ%3D%3D--b898d88994159238159e84ed2549119826ae6118">HTML</a>
		<a href="https://raw.github.com/thoughtbot/refills/master/source/stylesheets/refills/_hero.scss?token=2095625__eyJzY29wZSI6IlJhd0Jsb2I6dGhvdWdodGJvdC9yZWZpbGxzL21hc3Rlci9zb3VyY2Uvc3R5bGVzaGVldHMvcmVmaWxscy9faGVyby5zY3NzIiwiZXhwaXJlcyI6MTM4NjAxMTI2NX0%3D--8a4700429a07e67480f6bda566db924277141444">SCSS</a>
	</div>
</div>
</div>
<%= partial "hero" %>
