<ul role="main">
  <li class="row">
    <div class="container refill-body">
      <h2 class="refill-title">Dropdown</h2>
      <p>
        Dropdowns are used to display popup context menus or sub-level menus
        without a page refresh.
      </p>
      <div class="refill-wrapper">
        <%= partial "refills/dropdown" %>
      </div>
    </div>
    <%= code_for("dropdown") %>
  </li>

  <li class="row">
    <div class="container refill-body">
      <h2 class="refill-title">Modal</h2>
      <p>
        Modals, or generic dialogs, are used to overlay content for progressive
        disclosure.
      </p>
      <p>
        This implementation focuses into the modal when opened, and refocuses on
        the open button once closed, allowing them to be separated in the DOM
        without losing place or context. The modal can be closed on
        <code>Escape</code>, or clicking outside of it.
      </p>
      <p>
        Further enancements should hide the rest of the body's content for
        screen readers when a modal is open, and "trap" tabbable keyboard focus
        within the modal. A plugin like
        <a href="https://github.com/ianmcburnie/jquery-keyboard-trap">jquery-keyboard-trap</a>
        can help achieve the latter.
      </p>
      <p class="references">
        References:
        <a href="https://ebay.gitbooks.io/mindpatterns/content/disclosure/dialog.html">eBay Mind patterns</a>,
        <a href="http://edenspiekermann.github.io/a11y-dialog/">A11y Dialog</a>.
      </p>
      <div class="refill-wrapper">
        <%= partial "refills/modal" %>
      </div>
    </div>
    <%= code_for("modal") %>
  </li>

  <li class="row">
    <div class="container refill-body">
      <h2 class="refill-title">Tabs</h2>
      <p>
        Tabs are used to switch the display of local content without a page
        refresh.
      </p>
      <p>
        In this implementation, we wire up the association between the tab link
        and the tabpanel by an <code>href</code> and <code>id</code>. JavaScript
        sets up the appropriate ARIA roles. Left and right arrow keys can change
        focus between tabs, and pressing the <code>tab</code> key focuses the
        first element inside the tabpanel.
      </p>
      <p class="references">
        References:
        <a href="http://heydonworks.com/practical_aria_examples/#tab-interface">
          Practical ARIA Examples
        </a>
      </p>
      <div class="refill-wrapper">
        <%= partial "refills/tabs" %>
      </div>
    </div>
    <%= code_for("tabs") %>
  </li>

  <li class="row">
    <div class="container refill-body">
      <h2 class="refill-title">Tooltipped</h2>
      <p>
        Tooltips are used to add descriptive text to interactive elements which
        are otherwise lacking descriptive text, like icon links and buttons that
        are only represented graphically.
      </p>
      <p>
        Tooltipped elements are not JavaScript dependent, because we don't need
        to update state for ARIA. We are instead able to toggle their display
        with CSS on the element's hover or focus states.
      </p>
      <div class="refill-wrapper">
        <%= partial "refills/tooltipped" %>
      </div>
    </div>
    <%= code_for("tooltipped") %>
  </li>
</ul>
