<div class="refills-unstyled">

  <a class="js-menu-trigger-refills refills-menu-anchor fixedsticky">
    <img src="/images/menu.png" alt="Menu icon">
  </a>
  <div class="js-menu-screen-refills refills-menu-screen"></div>

  <%= partial "refills-hero" %>
  <%= partial "refills-menu" %>

  <div id="example">
  
    <section id="accordion" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Accordion</h6></div>
        <div class="refill-centering"><%= partial "unstyled/accordion" %></div>
      </div>
      <div class="refill-snippet"><%= code_for("unstyled/accordion") %></div>
    </section>

    <section id="accordion-tabs" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Accordion / Tabs</h6></div>
        <div class="refill-smaller"><%= partial "unstyled/accordion_tabs" %></div>
      </div>
      <div class="refill-snippet"><%= code_for("unstyled/accordion_tabs") %></div>
    </section>

    <section id="button-group" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Button Group</h6></div>
        <div class="refill-centering"><%= partial "unstyled/button_group" %></div>
      </div>
      <div class="refill-snippet"><%= code_for("unstyled/button_group") %></div>
    </section>

  </div>
</div>
    
<%= partial "refills-page-scripts" %>
