<div class="refills-unstyled">

  <a class="js-menu-trigger-refills refills-menu-anchor fixedsticky">
    <img src="/images/menu.png" alt="Menu icon">
  </a>
  <div class="js-menu-screen-refills refills-menu-screen"></div>

  <%= partial "refills-hero" %>
  <%= partial "refills-menu" %>

  <div id="example">
  
    <section id="accordion" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Accordion</h6></div>
        <div class="refill-centering"><%= partial "unstyled/accordion" %></div>
      </div>
      <div class="refill-snippet"><%= code_for("unstyled/accordion") %></div>
    </section>

    <section id="accordion-tabs" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Accordion / Tabs</h6></div>
        <div class="refill-smaller"><%= partial "unstyled/accordion_tabs" %></div>
      </div>
      <div class="refill-snippet"><%= code_for("unstyled/accordion_tabs") %></div>
    </section>

    <section id="button-group" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Button Group</h6></div>
        <div class="refill-centering"><%= partial "unstyled/button_group" %></div>
      </div>
      <div class="refill-snippet"><%= code_for("unstyled/button_group") %></div>
    </section>

    <section id="cards" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Cards</h6></div>
        <div class="refill-centering"><%= partial "unstyled/cards" %></div>
      </div>
      <div class="refill-snippet"><%= code_for("unstyled/cards") %></div>
    </section>

  <section id="comment" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Comments</h6></div>
      <div class="refill-centering">
        <div class="refill-smaller"><%= partial "unstyled/comment" %></div>
      </div>
    </div>
    <div class="refill-snippet"><%= code_for("unstyled/comment") %></div>
  </section>

  <section id="dropdown" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Dropdown</h6></div>
      <div class="refill-centering">
        <%= partial "unstyled/dropdown" %>
      </div>
    </div>
    <div class="refill-snippet"><%= code_for("unstyled/dropdown") %></div>
  </section>

  <section id="footer" class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text"><h6>Footer</h6></div>
      <div class="refill-centering"><%= partial "unstyled/footer" %></div>
    </div>
    <div class="refill-snippet"><%= code_for("unstyled/footer") %></div>
  </section>

  <section id="search-bar" class="refill">
   <div class="refills-wrapper">
     <div class="line-behind-text"><h6>Search bar</h6></div>
     <div class="refill-centering">
       <div class="refill-smaller"><%= partial "unstyled/search_bar" %></div>
     </div>
   </div>
   <div class="refill-snippet"><%= code_for("unstyled/search_bar") %></div>
  </section>

  </div>
</div>
    
<%= partial "refills-page-scripts" %>
